{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
for the theme, you can simply read the themePreference for the user and inject it into the body element
}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupR</title>
    <link rel="stylesheet" href="/css/sitestyles.css">
</head>

<body style="{{#if users}}background-color: {{{user.themePreference.backgroundColor}}}; color: {{{user.themePreference.fontColor}}};{{/if}}">
    {{{body}}}
    <script src="/js/form_validate.js" type="module"></script>
</body>
</html>

