<main>
    <h1 id="appTitle">Login System</h1>
    <p id="siteDescription">This is a login system</p>

    {{#if user}}
        {{#if (eq user.role 'administrator')}}
            <a id="userlink" href="/user/{{user.userId}}">User Page</a>
            <a id="superuserlink" href="/superuser">Super User Page</a>
        {{else}}
            <a id="userlink" href="/user">User Page</a>
        {{/if}}
    {{else}}
        <a id="signuplink" href="/registerUser">Register User Here</a>
        <a id="loginlink" href="/login">Login Here</a>
    {{/if}}

    <footer>
        <p>Groupr</p>
    </footer>
</main>