<main>
    <h1 id="appTitle">Groupr</h1>
    <p id="siteDescription">This is the home page.</p>

    {{#if user}}
        {{#if (eq user.role 'administrator')}}
            <a id="userlink" href="/user/{{user.userId}}">User Page</a>
            <a id="superuserlink" href="/superuser">Super User Page</a>
        {{else}}
            <a id="userlink" href="/user">User Page</a>
        {{/if}}
    {{else}}
        <div id="signuplinkdiv">
            <a id="signuplink" href="/registerUser">Register User Here</a>
        </div>
        <div id="loginlinkdiv">
            <a id="loginlink" href="/login">Login Here</a>
        </div>
    {{/if}}

</main>