{{!--

registration handelbars
IF ITS UGLY YOU CAN USE <DIV></DIV>
ERROR CHECK IF NOT DONE IN /ROUTES
 (you will check to make sure the password and confirm passwords 
 match via client-side validation and in the routes, you do not have to send/check both passwords to the data function)
--}}

<main>
    <header>
        <h1>Register</h1>
    </header>
    <form method="POST" action="/register" id="signup-form">
        <label for="firstName">First Name:</label>
        <input name="firstName" id="firstName" type="text">
        <label for="lastName">Last Name:</label>
        <input name="lastName" id="lastName" type="text">
        <label for="userId">User ID:</label>
        <input name="userId" id="userId" type="text">
        <label for="password">Password:</label>
        <input name="password" id="password" type="password">
        <label for="confirmPassword">Confirm Password:</label>
        <input name="confirmPassword" id="confirmPassword" type="password">
        <label for="role">Role:</label>
        <select name="role" id="role">
            <option value="administrator">Adminstrator</option>
            <option value="member">Member</option>
        </select>
        {{#if errors}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
        <button name="submitButton" id="submitButton" type="submit">Register</button>
    </form>
    <a href="/login">Already have an account? Click here to sign-in</a>
    <a href="/">Go Back to Home Page</a>
</main>