{{!--

registration handelbars
IF ITS UGLY YOU CAN USE <DIV></DIV>
ERROR CHECK IF NOT DONE IN /ROUTES
 (you will check to make sure the password and confirm passwords 
 match via client-side validation and in the routes, you do not have to send/check both passwords to the data function)
--}}

<main>
    <header>
        <h1>Register User</h1>
    </header>
    <form method="POST" action="/registerUser" id="signup-form-user">

        <div class="form-row">
            <label for="firstName">First Name:</label>
            <input name="firstName" id="firstName" type="text">
        </div>

        <div class="form-row">
            <label for="lastName">Last Name:</label>
            <input name="lastName" id="lastName" type="text">
        </div>

        <div class="form-row">
            <label for="userId">User ID:</label>
            <input name="userId" id="userId" type="text">
        </div>

        <div class="form-row">
            <label for="password">Password:</label>
            <input name="password" id="password" type="password">
        </div>

        <div class="form-row">
            <label for="confirmPassword">Confirm Password:</label>
            <input name="confirmPassword" id="confirmPassword" type="password">
        </div>

        {{#if errors}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}

        <div class="form-row">
            <button name="submitButton" id="submitButton" type="submit">Register User</button>
        </div>

    </form>
    <div>
        <a href="/">Already have an account? Click here to sign-in</a>
    </div>
    <div>
        <a href="/">Go Back to Home Page</a>
    </div>
    

</main>